<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jesper.pageturner"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="15"/>

    <uses-permission
        android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission
        android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission 
        android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:screenOrientation="landscape"
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".RecorderPage"
            android:label="@string/title_activity_recorder_page"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jesper.pageturner.MainActivity" />
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".ChooseSong"
            android:label="@string/title_activity_choose_song"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jesper.pageturner.MainActivity" />
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".NotePage"
            android:label="@string/title_activity_note_page"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:screenOrientation="landscape"
            android:name=".ShowSheetMusic"
            android:label="@string/title_activity_show_sheet_music"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>
